<div class="container" [style.background-color]="backgroundColor">
  <h1>Counter: {{ counter }}</h1>
  <nav>
    <ul>
      <li><a routerLink="/up">Up</a></li>
      <li><a routerLink="/down">Down</a></li>
      <li><a routerLink="/reset">Reset</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>